<?xml version="1.0" encoding="UTF-8"?>
<QuestionForm xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionForm.xsd">
<Overview>
  <Title>Furniture Comparisons</Title>
</Overview>
  <Question>
   <QuestionIdentifier>ComplementaryOne</QuestionIdentifier>
   <QuestionContent>
    <Binary>
    <MimeType>
      <Type>image</Type>
    </MimeType>
    <DataURL><%= @imageOne %></DataURL>
    <AltText>Furniture</AltText>
   </Binary>
  <Binary>
    <MimeType>
      <Type>image</Type>
    </MimeType>
    <DataURL><%= @imageTwo %></DataURL>
    <AltText>Furniture</AltText>
   </Binary>
     <Text>Would the above two pieces of furniture complement each other in the same room?</Text>
   </QuestionContent>
   <AnswerSpecification>
<SelectionAnswer>
  <StyleSuggestion>radiobutton</StyleSuggestion>
  <Selections>
    <Selection>
      <SelectionIdentifier>Yes</SelectionIdentifier>
      <Text>Yes</Text>
    </Selection>
    <Selection>
      <SelectionIdentifier>No</SelectionIdentifier>
      <Text>No</Text>
    </Selection>
  </Selections>  
     </SelectionAnswer>
   </AnswerSpecification>
  </Question>
    <Question>
   <QuestionIdentifier>ComplementaryTwo</QuestionIdentifier>
   <QuestionContent>
    <Binary>
    <MimeType>
      <Type>image</Type>
    </MimeType>
    <DataURL><%= @imageOne %></DataURL>
    <AltText>Furniture</AltText>
   </Binary>
  <Binary>
    <MimeType>
      <Type>image</Type>
    </MimeType>
    <DataURL><%= @imageThree %></DataURL>
    <AltText>Furniture</AltText>
   </Binary>
     <Text>Would the above two pieces of furniture complement each other in the same room?</Text>
   </QuestionContent>
   <AnswerSpecification>
<SelectionAnswer>
  <StyleSuggestion>radiobutton</StyleSuggestion>
  <Selections>
    <Selection>
      <SelectionIdentifier>Yes</SelectionIdentifier>
      <Text>Yes</Text>
    </Selection>
    <Selection>
      <SelectionIdentifier>No</SelectionIdentifier>
      <Text>No</Text>
    </Selection>
  </Selections>  
     </SelectionAnswer>
   </AnswerSpecification>
  </Question>
    <Question>
   <QuestionIdentifier>ComplementaryThree</QuestionIdentifier>
   <QuestionContent>
    <Binary>
    <MimeType>
      <Type>image</Type>
    </MimeType>
    <DataURL><%= @imageOne %></DataURL>
    <AltText>Furniture</AltText>
   </Binary>
  <Binary>
    <MimeType>
      <Type>image</Type>
    </MimeType>
    <DataURL><%= @imageFour %></DataURL>
    <AltText>Furniture</AltText>
   </Binary>
     <Text>Would the above two pieces of furniture complement each other in the same room?</Text>
   </QuestionContent>
   <AnswerSpecification>
<SelectionAnswer>
  <StyleSuggestion>radiobutton</StyleSuggestion>
  <Selections>
    <Selection>
      <SelectionIdentifier>Yes</SelectionIdentifier>
      <Text>Yes</Text>
    </Selection>
    <Selection>
      <SelectionIdentifier>No</SelectionIdentifier>
      <Text>No</Text>
    </Selection>
  </Selections>  
     </SelectionAnswer>
   </AnswerSpecification>
  </Question>
</QuestionForm>

